{% load static %}
<nav class="navbar">
  <div class="main-menu">
    <ul>
      <li><a href="{% url 'index' %}">Questions</a></li>
    </ul>
  </div>
  <div class="user-menu">
    <ul>
      <li>
        {% if request.get_full_path == '/' %}
        <input id="search" type="text" placeholder="Search Questions" />
        {% endif %}
      </li>
      {% if MAIN_USER_IS_AUTHENTICATED %}
      <li><a href="{% url 'new-question' %}">Ask question</a></li>
           {% if GOOGLE_AUTHENTICATED %}
               <li><button onclick="logoutGoogle()">LogoutGoogle</button></li>
            {% else %}
               <li><a href="{% url 'logout-new' %}">Logout</a></li>
          {% endif %}
      {% else %}
      <li><a href="{% url 'login-new' %}">Login</a></li>
      <li><a href="{% url 'register-new' %}">Register</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
<div id="match-list"></div>

<script src="{% static 'js/search.js' %}"></script>
<script src="{% static 'js/google.js' %}"></script>
