{% load static %}
<nav class="navbar">
  <div class="main-menu">
    <ul>
      <li><a href="{% url 'index' %}">Questions</a></li>
    </ul>
  </div>
  <div class="user-menu">
    <ul>
      <li>
        {% if request.get_full_path == '/' %}
        <input id="search" type="text" placeholder="Search Questions" />
        {% endif %}
      </li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'new-question' %}">Ask question</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
      <li><a href="{% url 'register' %}">Register</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
<div id="match-list"></div>

<script src="{% static 'js/search.js' %}"></script>
